# Pandas DataFrame

In [1]:
import pandas as pd

In [2]:
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine", "University at Buffalo", "University of Central Florida"])
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3            University at Buffalo
4    University of Central Florida
dtype: object

In [3]:
test = ["UCLA", "UC Berkeley", "UC Irvine", "University at Buffalo", "University of Central Florida"]
test

['UCLA',
 'UC Berkeley',
 'UC Irvine',
 'University at Buffalo',
 'University of Central Florida']

In [4]:
states_dicts = [{"STATE": "New Jersey", "ABBREVIATION" : "NJ"},
               {"STATE": "New York", "ABBREVIATION" : "NY"}]
states_df = pd.DataFrame(states_dicts)
states_df

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY

In [5]:
pharaoh_df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharaoh": ["Thinis", "Memphis"]
     }
)
pharaoh_df

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis

In [6]:
data_file = "Resources/netflix_ratings.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

In [7]:
data_file_df.describe()

       ratingDescription  release year  user rating score  user rating size
count         999.000000    999.000000         604.000000        999.000000
mean           67.398398   2010.329329          84.100993         80.783784
std            30.783969      8.880562          12.353476          0.973238
min            10.000000   1940.000000          55.000000         80.000000
25%            35.000000   2007.000000          74.750000         80.000000
50%            60.000000   2015.000000          88.000000         80.000000
75%            90.000000   2016.000000          95.000000         82.000000
max           124.000000   2017.000000          99.000000         82.000000

In [8]:
data_file_df[["title","ratingDescription"]].head()

                   title  ratingDescription
0           White Chicks                 80
1    Lucky Number Slevin                100
2         Grey's Anatomy                 90
3           Prison Break                 90
4  How I Met Your Mother                 70

In [9]:
count = data_file_df["title"].value_counts()
count

13 Reasons Why            8
Prison Break              7
Girlboss                  7
The Vampire Diaries       6
Grey's Anatomy            6
                         ..
Russell Madness           1
Crossing Lines            1
Californication           1
Pooh's Heffalump Movie    1
Fearless                  1
Name: title, Length: 496, dtype: int64

In [10]:
data_file_df

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82

In [11]:
df = data_file_df.set_index("title")
df.head()

,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
title,,,,,,
White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

# loc / iloc

In [18]:
selected_show = df.loc[["House of Cards", "Prison Break"], ["ratingDescription", "release year"]]
print(selected_show)

                ratingDescription  release year
title
House of Cards                110          2016
House of Cards                110          2016
House of Cards                110          2016
Prison Break                   90          2008
Prison Break                   90          2008
Prison Break                   90          2008
Prison Break                   90          2008
Prison Break                   90          2008
Prison Break                   90          2008
Prison Break                   90          2008

In [20]:
df.loc[:, ["rating", "ratingDescription"]]

                        rating  ratingDescription
title
White Chicks             PG-13                 80
Lucky Number Slevin          R                100
Grey's Anatomy           TV-14                 90
Prison Break             TV-14                 90
How I Met Your Mother    TV-PG                 70
...                        ...                ...
Pup Star                     G                 35
The BFG                     PG                 60
The Secret Life of Pets     PG                 60
Precious Puppies          TV-G                 35
Beary Tales               TV-G                 35

[999 rows x 2 columns]